@using bilecom.enums;
@{
    ViewBag.Title = "Personal Mantenimiento";
}

@section links_footer{
    <link href="@Url.Content("~/Assets/plugins/select2/css/select2.min.css")" rel="stylesheet">
}

<div id="content-container">
    <div id="page-head">

        <!--Page Title-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="page-title">
            @if (Convert.ToInt32(TempData["id"]) == 0)
            {
                <h2 class="page-header text-overflow">Nuevo Personal</h2>
                <input name="txt-opcion" id="txt-opcion" hidden value=@TempData["id"] />
            }
            else
            {
                <h2 class="page-header text-overflow">Editar Personal</h2>
                <input name="txt-opcion" id="txt-opcion" hidden value=@TempData["id"] />
            }

        </div>
    </div>
    <form id="frm-personal-mantenimiento" name="frm-personal-mantenimiento" method="post">
        <div id="page-content">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="bg-dark box-block pad-lft pad-rgt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo Doc. Identidad</font></font></span>
                                <select class="form-control val-exc select2-show-accessible" name="cmb-tipo-documento-identidad" id="cmb-tipo-documento-identidad" data-bv-field="cmb-tipo-documento-identidad" tabindex="-1" aria-hidden="false">
                                </select>
                                <i class="form-control-feedback bv-no-label fa fa-times-circle fa-lg" data-bv-icon-for="cmb-tipo-documento-identidad" style=""></i>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="bg-dark box-block pad-lft pad-rgt">N° Doc. Identidad</span>
                                <input class="form-control" placeholder="N° Doc. Identidad" name="txt-numero-documento-identidad" id="txt-numero-documento-identidad" data-bv-field="txt-numero-documento-identidad" required>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="bg-dark box-block pad-lft pad-rgt">Nombres Completos</span>
                                <input class="form-control" placeholder="Nombres Completos" name="txt-nombres" id="txt-nombres" data-bv-field="txt-nombres" required>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="bg-dark box-block pad-lft pad-rgt">Correo</span>
                                <input class="form-control" placeholder="Correo" name="txt-correo" id="txt-correo" data-bv-field="txt-correo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <i class="form-control-feedback bv-no-label fa fa-times-circle fa-lg" data-bv-icon-for="cmb-pais" style=""></i>
                                <span class="bg-dark box-block pad-lft pad-rgt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pais</font></font></span>
                                <select class="form-control val-exc select2-show-accessible" name="cmb-pais" id="cmb-pais" data-bv-field="cmb-pais" tabindex="-1" aria-hidden="false">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <i class="form-control-feedback bv-no-label fa fa-times-circle fa-lg" data-bv-icon-for="cmb-departamento" style=""></i>
                                <span class="bg-dark box-block pad-lft pad-rgt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Departamento</font></font></span>
                                <select class="form-control val-exc select2-show-accessible" name="cmb-departamento" id="cmb-departamento" data-bv-field="cmb-departamento" tabindex="-1" aria-hidden="false">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <i class="form-control-feedback bv-no-label fa fa-times-circle fa-lg" data-bv-icon-for="cmb-provincia" style=""></i>
                                <span class="bg-dark box-block pad-lft pad-rgt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Provincia</font></font></span>
                                <select class="form-control val-exc select2-show-accessible" name="cmb-provincia" id="cmb-provincia" data-bv-field="cmb-provincia" tabindex="-1" aria-hidden="false">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <i class="form-control-feedback bv-no-label fa fa-times-circle fa-lg" data-bv-icon-for="cmb-distrito" style=""></i>
                                <span class="bg-dark box-block pad-lft pad-rgt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Distrito</font></font></span>
                                <select class="form-control val-exc select2-show-accessible" name="cmb-distrito" id="cmb-distrito" data-bv-field="cmb-distrito" tabindex="-1" aria-hidden="false">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <span class="bg-dark box-block pad-lft pad-rgt">Dirección</span>
                                <input class="form-control" placeholder="Dirección" name="txt-direccion" id="txt-direccion" data-bv-field="txt-direccion">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary col-sm-12" id="btn-guardar" name="btn-guardar" type="submit">Guardar</button>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-danger col-sm-12" id="btn-cancelar" name="btn-cancelar" href="@Url.Content("~/Personal/")">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts_footer{
    <script src="@Url.Content("~/Assets/plugins/select2/js/select2.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/mantenimientopersonal.js")"></script>
    <script>
            const tdiDNI = "@((int)Enums.TipoDocumentoIdentidad.DNI)"
            const tdiRUC = "@((int)Enums.TipoDocumentoIdentidad.RUC)"
        $(document).ready(function () {
            pageMantenimientoPersonal.Init();
        });
    </script>
}