@{
    ViewBag.Titulo = "Configuración";
}

@using bilecom.enums
@section links_footer{
    <link href="@Url.Content("~/Assets/plugins/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/plugins/datatables/media/css/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/plugins/switchery/switchery.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/plugins/ionicons/css/ionicons.min.css")" rel="stylesheet">
}

<div id="content-container">
    <div id="page-head">

        <!--Page Title-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="page-title">
            <h2 class="page-header text-overflow">@ViewBag.Titulo</h2>
        </div>
    </div>
    <div id="page-content">
        <div class="tab-base">

            <!--Nav Tabs-->
            <ul class="nav nav-tabs">
                <li class="active">
                    @*<a data-toggle="tab" href="#demo-lft-tab-1">Home <span class="badge badge-purple">27</span></a>*@
                    <a data-toggle="tab" href="#demo-lft-tab-1">Empresa</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#demo-lft-tab-2">Predeterminado</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#demo-lft-tab-3">Sunat</a>
                </li>
            </ul>

            <!--Tabs Content-->
            <div class="tab-content">
                <div id="tab-empresa" class="tab-pane fade active in">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="bg-dark box-block pad-lft pad-rgt">RUC</span>
                                <input class="form-control" placeholder="RUC" name="txt-razon-social" id="txt-razon-social" data-bv-field="txt-razon-social" readonly>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <span class="bg-dark box-block pad-lft pad-rgt">Razón Social</span>
                                <input class="form-control" placeholder="Razón Social" name="txt-razon-social" id="txt-razon-social" data-bv-field="txt-razon-social" readonly>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="bg-dark box-block pad-lft pad-rgt">Nombre Comercial</span>
                                <input class="form-control" placeholder="Nombre Comercial" name="txt-nombre-comercial" id="txt-nombre-comercial" data-bv-field="txt-nombre-comercial">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-predeterminado" class="tab-pane fade">
                    <p class="text-main text-semibold">Predeterminado</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
                <div id="tab-sunat" class="tab-pane fade">
                    <p class="text-main text-semibold">Sunat</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts_footer{
    <script src="@Url.Content("~/Assets/plugins/select2/js/select2.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/datatables/media/js/dataTables.bootstrap.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/bootstrap-validator/bootstrapValidator.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/switchery/switchery.min.js")"></script>
    @*<script src="@Url.Content("~/Assets/js/pages/mantenimientofactura.js")"></script>*@
    @*<script>
            const tipoComprobanteIdFactura = @((int)Enums.TipoComprobante.Factura);
            const facturaId = @(Request["id"] != null && ViewBag.Accion == (int)Enums.Accion.Editar ? Request["id"].ToString() : "null");
            $(document).ready(function () {
                pageMantenimientoFactura.Init();
            });
        </script>*@
}