
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-pe">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Login - BileCom</title>


    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="@Url.Content("~/Assets/css/bootstrap.min.css")" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="@Url.Content("~/Assets/css/nifty.min.css")" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="@Url.Content("~/Assets/css/demo/nifty-demo-icons.min.css")" rel="stylesheet">


    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="@Url.Content("~/Assets/plugins/pace/pace.min.css")" rel="stylesheet">
    <script src="@Url.Content("~/Assets/plugins/pace/pace.min.js")"></script>



    <!--Demo [ DEMONSTRATION ]-->
    <link href="@Url.Content("~/Assets/css/demo/nifty-demo.min.css")" rel="stylesheet">

    @*<link rel="icon" type="image/png" href="@Url.Content("~/Assets/img/logo_bilecom.png")">*@

    <!--=================================================

    REQUIRED
    You must include this in your project.


    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.


    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.


    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.


    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


    Detailed information and more samples can be found in the document.

    =================================================-->

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
    <div id="container" class="cls-container">

        <!-- BACKGROUND IMAGE -->
        <!--===================================================-->
        <div id="bg-overlay"></div>


        <!-- LOGIN FORM -->
        <!--===================================================-->
        <div class="cls-content">
            <div class="cls-content-sm panel">
                <div class="panel-body">
                    <div class="mar-ver pad-btm">
                        <img class="logo-jare" src="@Url.Content("~/Assets/img/logo_bilecom.png")" alt="Background Image" width="150">
                        @*<h1 class="h3">BileCom</h1>*@
                        <p>Ingrese sus credenciales</p>
                    </div>
                    <form id="frm-login" autocomplete="off">
                        <div class="form-group">
                            <input id="txt-ruc" name="txt-ruc" type="text" class="form-control" placeholder="RUC" onkeypress="common.KeyPressPreventSubmitEnter(event)" autofocus>
                        </div>
                        <div class="form-group">
                            <input id="txt-usuario" name="txt-usuario" type="text" class="form-control" placeholder="USUARIO" onkeypress="common.KeyPressPreventSubmitEnter(event)" autofocus>
                        </div>
                        <div class="form-group">
                            <input id="txt-contraseña" name="txt-contraseña" type="password" class="form-control" onkeypress="common.KeyPressPreventSubmitEnter(event)" placeholder="CONTRASEÑA">
                            @*<input type="hidden" id="hdn-token" name="hdn-token" />*@
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="checkbox pad-btm text-left">
                            <input id="chkRecordarCuenta" class="magic-checkbox" type="checkbox" onkeypress="common.KeyPressPreventSubmitEnter(event)">
                            <label for="chkRecordarCuenta">Recordar cuenta</label>
                        </div>
                        <button id="btnIngresar" class="btn btn-primary btn-lg btn-block" type="button">INGRESAR</button>
                    </form>

                    @*<form id="frm-account" action="@Url.Action("ValidarUsuario")" method="post">
                        <input type="hidden" id="usuario" name="usuario" />
                        <input type="hidden" id="token" name="token" />
                    </form>*@
                </div>

                <div class="pad-all">
                    <a href="@Url.Content("~/Acceso/IniciarRecuperacion")" class="btn-link mar-rgt">¿Olvidaste la contraseña?</a>

                </div>
            </div>
        </div>
        <!--===================================================-->
        <!-- DEMO PURPOSE ONLY -->
        <!--===================================================-->
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src="@Url.Content("~/Assets/js/jquery.min.js")"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="@Url.Content("~/Assets/js/bootstrap.min.js")"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="@Url.Content("~/Assets/js/nifty.min.js")"></script>


    <!--=================================================-->
    <!--Background Image [ DEMONSTRATION ]-->
    <script src="@Url.Content("~/Assets/js/demo/bg-images.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/demo/ui-alerts.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/common.js")" charset="utf-8"></script>
    <script src="@Url.Content("~/Assets/js/pages/login.js")" charset="utf-8"></script>
    <script>
        const urlRoot = "@Url.Content("~")";
        $(document).ready(function () {
            pageLogin.Init();
        });
    </script>
</body>
</html>
