
@{
    ViewBag.Title = "Index";
}
@section links_footer{
    <link href="@Url.Content("~/Assets/plugins/datatables/media/css/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet">
}

<div id="content-container">
    <div id="page-head">

        <!--Page Title-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="page-title">
            <h1 class="page-header text-overflow">Reporte Stock por Almacen</h1>
        </div>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End page title-->
        <!--Breadcrumb-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="demo-pli-home"></i></a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">Blank page</li>
            </ol>*@
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End breadcrumb-->

    </div>


    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Filtros de búsqueda</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <span class="bg-dark box-block pad-lft pad-rgt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Almacen</font></font></span>
                            <select class="form-control val-exc select2-show-accessible" name="cmb-almacen" id="cmb-almacen" data-bv-field="cmb-almacen" tabindex="-1" aria-hidden="false">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="bg-dark box-block pad-lft pad-rgt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Filtro</font></font></span>
                            <div class="radio">
                                <!-- Inline radio buttons -->
                                <input id="demo-inline-form-radio" class="magic-radio" type="radio" name="rd-filtro" value=1 checked >
                                <label for="demo-inline-form-radio">Con Stock</label>

                                <input id="demo-inline-form-radio-2" class="magic-radio" type="radio" name="rd-filtro" value=2 >
                                <label for="demo-inline-form-radio-2">Sin Stock</label>

                                <input id="demo-inline-form-radio-3" class="magic-radio" type="radio" name="rd-filtro" value=3 >
                                <label for="demo-inline-form-radio-3">Debajo del Stock Minimo</label>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group text-center">
                            <label class="control-label">&nbsp;</label>
                            <div class="clear"></div>
                            <button id="btn-buscar" class="btn btn-primary" type="button">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                <table id="tbl-lista" name="tbl-lista" class="table table-striped table-bordered small" cellspacing="0" width="100%">
                    <thead>
                        <tr class="bg-primary">
                            <th rowspan="1" colspan="1" style="width:25px">N°</th>
                            <th>Código</th>
                            <th class="min-tablet">Descripcion</th>
                            <th class="min-tablet">Unidad Medida</th>
                            <th class="min-tablet">Stock Mínimo</th>
                            <th class="min-tablet">Stock Actual</th>
                            <th class="min-tablet">Tipo Monto</th>
                            <th class="min-tablet">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!--===================================================-->
    <!--End page content-->

</div>
@section scripts_footer{
    <script src="@Url.Content("~/Assets/plugins/datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/datatables/media/js/dataTables.bootstrap.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/stockalmacen.js")"></script>
    <script>
        $(document).ready(function () {
            pageStockAlmacen.Init();
        });
    </script>
}