
@{
    ViewBag.Title = "Index";
}

@section links_footer{
    <link href="@Url.Content("~/Assets/plugins/datatables/media/css/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css")" rel="stylesheet" />
}

<div id="content-container">
    <div id="page-head">

        <!--Page Title-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="page-title">
            <h1 class="page-header text-overflow" style="font-weight: bolder">Lista de Clientes</h1>
        </div>
        
    </div>
    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title" >  Filtros de búsqueda </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">N° Doc. Identidad</label>
                            <input type="text" class="form-control" id="txt-numero-documento-identidad">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Nombres o Razón Social</label>
                            <input type="text" class="form-control" id="txt-nombres-o-razon-social">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group text-right">
                            <label class="control-label">&nbsp;</label>
                            <div class="clear"></div>
                            <a class="btn btn-primary" href="@Url.Content("~/Clientes/Nuevo")">Nuevo</a>
                            <button class="btn btn-primary" id="btn-buscar">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                <table id="tbl-lista" class="table table-striped table-bordered small" cellspacing="0" width="100%">
                    <thead>
                        <tr class="bg-primary">
                            <th rowspan="1" colspan="1" style="width:25px" data-column="ClienteId">N°</th>
                            <th>Tipo Doc. Ident.</th>
                            <th class="min-tablet">N° Doc. Ident.</th>
                            <th class="min-tablet">Razón Social</th>
                            <th class="min-desktop" rowspan="1" colspan="1" style="width:130px">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!--===================================================-->
    <!--End page content-->

</div>
@section scripts_footer{
    <script src="@Url.Content("~/Assets/plugins/datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/datatables/media/js/dataTables.bootstrap.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/cliente.js")"></script>
    <script>
        $(document).ready(function () {
            pageCliente.Init();
        });
    </script>
}

